.unsupported-browser {
  position: relative;
  background: #323230;
  height: 100%; }
  .unsupported-browser * {
    margin: 0;
    padding: 0; }
  .unsupported-browser a:hover {
    text-decoration: none; }
  .unsupported-browser .center {
    text-align: center; }
  .unsupported-browser__container {
    width: 80%;
    padding: 30px 0;
    margin: 0 auto; }
  .unsupported-browser__title {
    font-family: 'Exo\ 2';
    font-size: 24px;
    margin-bottom: 8px; }
  .unsupported-browser__old-site-version {
    font-size: 20px;
    text-align: center; }
    .unsupported-browser__old-site-version a {
      color: #0cb520; }
  .unsupported-browser__browsers-container {
    width: 556px;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 40px; }
    .unsupported-browser__browsers-container::after {
      display: block;
      content: "";
      clear: both; }
  .unsupported-browser__content-container {
    background: white;
    padding: 28px; }
  .unsupported-browser__icon {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 10px; }
    .unsupported-browser__icon--chrome {
      background-image: url("./assets/chrome.png"); }
    .unsupported-browser__icon--firefox {
      background-image: url("./assets/firefox.png"); }
    .unsupported-browser__icon--opera {
      background-image: url("./assets/opera.png"); }
  .unsupported-browser__chrome-text {
    line-height: 48px;
    font-size: 24px;
    color: #0cb520; }
    .unsupported-browser__chrome-text:hover {
      text-decoration: underline; }
  .unsupported-browser__browser-container {
    text-align: center;
    float: left;
    padding: 26px; }
    .unsupported-browser__browser-container:hover a {
      text-decoration: underline; }
