<div>
  <div id="zoom-in" class="ya-maps__zoom-control">
    <svg class="ya-maps__zoom-svg-icon" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="15" width="32" height="2" fill="white" />
      <rect x="17" width="32" height="2" transform="rotate(90 17 0)" fill="white" />
    </svg>
  </div>
  <div id="zoom-out" class="ya-maps__zoom-control">
    <div
      style="width:32px; height:2px; position: absolute; top: 50%; left: 50%; background: white; transform: translateX(-50%) translateY(-50%);">
    </div>
  </div>
</div>